/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/(app)/all-product/all_product_css.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.border {
  border: 1px solid black;
  padding: 5px;
}

.title {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  /*Thêm các thuộc tính CSS khác tùy ý*/
}
