.usernameLabel {
    /* font-weight: bold; */
}
.formGroup {
    margin-left: 10%;
    margin-right: 60%;
}
.save {
    margin-top: 2%;
    margin-left: 14%;
}
.back {
    margin-top: 2%;
    margin-left: 8%;
}
.form {
    margin-top: 4%;
}
.register{
    margin-top: 5%;
    margin-left: 17%;
}