.container {
    color: #000;
  }
  
  .py-4 {
    margin-top: -10%;
    height: 300%;
    width: 50%; 
  }
  
  .text-sm{
    font-size: large;
    font-weight: bold;
  }
  
  .transition-transform-colors-opacity {
    transition-property: transform, color, background, background-color, border-color, text-decoration-color, fill, stroke, opacity;
    transition-timing-function: ease;
    transition-duration: 250ms;
    color: white;
    background: #ff385c;
    margin-top: 1%;
  }
  
  .book {
    background-color: white ;
    color: #ff385c;
  }
  
  .product-title {
    color: blue;
    font-size: 24px;
    margin-top: 10%;
  }