/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/(app)/add-product/add_product.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.p-4 {
    padding: 1rem;
    width: 350px;
    margin-left: -350px;
}

.p-4-2 {
    padding: 1rem;
    width: 230%;
    margin-left: -174px;
}

.amenities-column-left {
    display: inline-block;
    width: 40%;
}

.amenities-column-right {
    display: inline-block;
    width: 60%;
}



